/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/styles/DicomViewer.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.DicomViewer_container__P5ECB {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.DicomViewer_fileInput__W9DCi {
  margin: 20px 0;
}

.DicomViewer_viewer__Jj4OP {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DicomViewer_viewport__PrUaM {
  background-color: #000;
  border: 1px solid #333;
}

.DicomViewer_sliderContainer__eracE {
  margin-top: 20px;
  width: 500px;
}

.DicomViewer_slider__47OQ_ {
  width: 100%;
}
